* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 360px;
    width: 360px;
    background-color: red;
    margin: auto;
    position: relative;
}


.box_1 {
    z-index: 3;
    font-size: 30px;
    color: red;
    font-family: sans-serif;
    position: absolute;
    top: 120px;
    left: 110px;
    color: red;
    text-align: center;

}

.box_2 {
    height: 150px;
    width: 150px;
    background-color: red;
    position: absolute;
    top: 55px;
    right: 50px;
    transform: rotate(30deg);
    border-radius: 50%;
    z-index: 1;
}

.box_3 {
    height: 150px;
    width: 150px;
    background-color: red;
    position: absolute;
    top: 55px;
    left: 50px;
    transform: rotate(-30deg);
    border-radius: 50%;
    z-index: 1;
}

.box_4 {
    height: 160px;
    width: 160px;
    background-color: red;
    transform: rotate(45deg);
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50% 0 0 0;

}

button {
    padding: 15px 50px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: balck;
    background-color: pink;
    border-radius: 7px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

body:hover {
    background-color: white;
}

body:hover .box_1 {
    color: pink;
}

body:hover button {
    display: none;
}